# Note:
Be sure to also look at the [README](https://github.com/jradavenport/WWU-seminar-2018/blob/master/lab3/README.md) file for this lab, as it contains important details/info for your assignment!!

In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import time
# see also the "datetime" package

import solutions

# Part 2: Speed Racer!
Let's figure out which of the solutions from last week is the fastest. 

To do this, we want to evaluate the runtime for a varying number of coordinates.

In [2]:
# This tells you the system time in seconds (from some system-dependent zero point)
time.time()

1524093693.963848

**NOTE:** this is *not* the best way to measure time, but it illustrates how the process works. 

Read about the [timeit](https://docs.python.org/2/library/timeit.html) module, and definitely the doccumentation of the [time](https://docs.python.org/3.5/library/time.html) module we're using.

In [3]:
# here's a simple way to determine how long something takes to evaluate:
t0 = time.time()

# do some random task
x = -1
for k in range(0,10000):
    x = k*x

t1 = time.time()

duration = t1 - t0
print('This task took: ' + str(duration) + ' seconds')

This task took: 0.0019996166229248047 seconds

In [4]:
# here's how you might return two numbers or arrays from a function

def myfunc(a):
    out1 = a+2
    out2 = a-2
    return out1, out2

In [5]:
x, y = myfunc(7)
print(x,y)

9 5

In [6]:
# an example of random numbers uniformly chosen in the range -5 to 5
# note, other random number distributions exist, and are very useful (e.g. Gaussian!)

N = 20

rmax = 5
rmin = -5

rando_calrissian = np.random.random(N) * (rmax - rmin) + rmin

rando_calrissian

array([-4.95204574,  4.84546255, -2.56546032,  1.411887  ,  2.70953691,
        3.10256011,  0.68247044,  1.63553154, -4.90306024, -1.43468114,
       -0.06229197,  0.62778826, -1.67830569,  3.93419494, -4.27075071,
        0.25248207,  0.36476203, -2.92331912, -1.55163107, -3.32936795])

In [7]:
# here's how to call one of the functions in the "solutions" file!

ra=18.62
dec=38.78

solutions.constell_davenport(ra, dec)

'LYR'

# Part 3: Write some unit tests

**unittest**: There *is* a [built-in framework](https://docs.python.org/2.7/library/unittest.html) for formally handling unit tests. It is a little difficult to start using, and we won't use it today. There are some nicer testing suites available (e.g. [nose](https://nose.readthedocs.org/en/latest/))

**Exceptions**: Python defines a bunch of [built-in exceptions](https://docs.python.org/2/library/exceptions.html) that can come up when code crashes. In general you'll try to [catch these](https://wiki.python.org/moin/HandlingExceptions) and handle them gracefully. Usually I write Try/Except statements as I find these errors

In [8]:
def number_test(input):
    '''
    An example of using a Try/Except statement to catch an error.
    You could imagine doing something more useful than just printing stuff to the screen...
    '''
    try:
        val = float(input)
        print('Yup...')
    except ValueError:
        print("Ack! Not a float!")
        val = np.nan
        
    return val

In [9]:
a = 'hamburger'
b = 123.45

number_test(a)

Ack! Not a float!

nan

In [10]:
# This file from the IAU is a little funky, it uses "Fixed-Width" formatting (boo!)

df2 = pd.read_fwf('data/IAU-CSN.txt', comment='#', widths=(18,13,6,4,5,12,4,8,7,11,11,11,2),
                  names=('Name','Designation','ID','Const','num','WDS_J','Vmag','HIP','HD',
                         'RA','Dec','Approved','Notes') )
df2

,Name,Designation,ID,Const,num,WDS_J,Vmag,HIP,HD,RA,Dec,Approved,Notes
0,Acamar,HR 897,tet01,Eri,A,02583-4018,2.88,13847,18622,44.565311,-40.304672,2016-07-20,*
1,Achernar,HR 472,alf,Eri,-,-,0.45,7588,10144,24.428523,-57.236753,2016-06-30,NaN
2,Achird,HR 219,eta,Cas,A,00491+5749,3.46,3821,4614,12.276213,57.815187,2017-09-05,NaN
3,Acrab,HR 5984,bet,Sco,Aa,16054-1948,2.56,78820,144217,241.359300,-19.805453,2016-08-21,NaN
4,Acrux,HR 4730,alf,Cru,Aa,12266-6306,1.33,60718,108248,186.649563,-63.099093,2016-07-20,NaN
5,Acubens,HR 3572,alf,Cnc,Aa,08585+1151,4.26,44066,76756,134.621761,11.857700,2016-07-20,NaN
6,Adhafera,HR 4031,zet,Leo,Aa,10167+2325,3.43,50335,89025,154.172567,23.417312,2016-07-20,NaN
7,Adhara,HR 2618,eps,CMa,A,06586-2858,1.50,33579,52089,104.656453,-28.972086,2016-08-21,NaN
8,Adhil,HR 390,ksi,And,-,-,4.87,6411,8207,20.585080,45.528778,2016-08-21,NaN
9,Ain,HR 1409,eps,Tau,Aa1,04286+1911,3.53,20889,28305,67.154163,19.180435,2015-12-15,NaN
10,Ainalrami,HR 7116,nu01,Sgr,A,18542-2245,4.86,92761,174974,283.542404,-22.744840,2017-09-05,NaN
11,Aladfar,HR 7298,eta,Lyr,Aa,19138+3909,4.43,94481,180163,288.439531,39.145970,2017-09-05,NaN
12,Albaldah,HR 7264,pi,Sgr,A,19098-2101,2.88,94141,178524,287.440971,-21.023615,2017-09-05,NaN
13,Albali,HR 7950,eps,Aqr,-,-,3.78,102618,198001,311.918969,-9.495775,2016-09-12,NaN
14,Albireo,HR 7417,bet,Cyg,Aa,19307+2758,3.37,95947,183912,292.680351,27.959692,2016-07-20,NaN
15,Alchiba,HR 4623,alf,Crv,-,-,4.02,59199,105452,182.103402,-24.728875,2016-09-12,NaN
16,Alcor,HR 5062,80,UMa,Ca,13239+5456,3.99,65477,116842,201.306403,54.987954,2016-06-30,*
17,Alcyone,HR 1165,eta,Tau,A,03475+2406,2.85,17702,23630,56.871152,24.105136,2016-06-30,NaN
18,Aldebaran,HR 1457,alf,Tau,-,04359+1631,0.87,21421,29139,68.980163,16.509302,2016-06-30,NaN
19,Alderamin,HR 8162,alf,Cep,-,21186+6235,2.45,105199,203280,319.644885,62.585574,2016-07-20,NaN
20,Aldhanab,HR 8353,gam,Gru,-,-,3.00,108085,207971,328.482192,-37.364855,2017-09-05,NaN
21,Aldhibah,HR 6396,zet,Dra,A,17088+6543,3.17,83895,155763,257.196650,65.714684,2017-09-05,NaN
22,Aldulfin,HR 7852,eps,Del,-,-,4.03,101421,195810,308.303216,11.303261,2017-09-05,NaN
23,Alfirk,HR 8238,bet,Cep,Aa,21287+7034,3.23,106032,205021,322.164987,70.560715,2016-08-21,NaN
24,Algedi,HR 7754,alf02,Cap,A,20181-1233,3.58,100064,192947,304.513566,-12.544852,2016-08-21,NaN
25,Algenib,HR 39,gam,Peg,-,00132+1511,2.83,1067,886,3.308963,15.183594,2016-06-30,NaN
26,Algieba,HR 4057,gam01,Leo,-,10200+1950,2.61,50583,89484,154.993144,19.841489,2016-07-20,*
27,Algol,HR 936,bet,Per,Aa1,03082+4057,2.09,14576,19356,47.042215,40.955648,2016-06-30,NaN
28,Algorab,HR 4757,del,Crv,A,12299-1631,2.94,60965,108767,187.466063,-16.515431,2016-07-20,NaN
29,Alhena,HR 2421,gam,Gem,Aa,06377+1624,1.93,31681,47105,99.427960,16.399280,2016-07-20,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,Tiaki,HR 8636,bet,Gru,-,-,2.12,112122,214952,340.666876,-46.884576,2017-09-05,NaN
284,Tianguan,HR 1910,zet,Tau,A,-,2.97,26451,37202,84.411189,21.142544,2017-06-30,NaN
285,Tianyi,HR 4863,7,Dra,-,-,5.43,62423,111335,191.893099,66.790305,2017-06-30,NaN
286,Titawin,HR 458,ups,And,A,01368+4124,4.09,7513,9826,24.199342,41.405457,2015-12-15,NaN
287,Tonatiuh,HR 4609,-,Cam,-,-,5.80,58952,104985,181.312995,76.905735,2015-12-15,NaN
288,Torcular,HR 510,omi,Psc,A,01454+0909,4.29,8198,10761,26.348466,9.157737,2017-09-05,NaN
289,Tureis,HR 3185,rho,Pup,A,08075-2418,2.83,39757,67523,121.886037,-24.304324,2016-09-12,NaN
290,Unukalhai,HR 5854,alf,Ser,-,15443+0626,2.63,77070,140573,236.066976,6.425629,2016-08-21,NaN
291,Unurgunite,HR 2646,sig,CMa,-,07017-2756,3.49,33856,52877,105.429782,-27.934830,2017-09-05,NaN
292,Vega,HR 7001,alf,Lyr,-,18369+3846,0.03,91262,172167,279.234735,38.783689,2016-06-30,NaN
293,Veritate,HR 8930,14,And,A,23313+3914,5.22,116076,221345,352.822556,39.236197,2015-12-15,NaN
294,Vindemiatrix,HR 4932,eps,Vir,-,13022+1058,2.85,63608,113226,195.544157,10.959149,2016-07-20,NaN
295,Wasat,HR 2777,del,Gem,Aa,07201+2159,3.52,35550,56986,110.030749,21.982316,2016-08-21,NaN
296,Wazn,HR 2040,bet,Col,-,05510-3546,3.12,27628,39425,87.739968,-35.768310,2016-07-20,NaN
297,Wezen,HR 2693,del,CMa,Aa,07084-2624,1.83,34444,54605,107.097850,-26.393200,2016-07-20,NaN
298,Wurren,HR 338,zet,Phe,Aa,01084-5515,4.02,5348,6882,17.096173,-55.245758,2017-11-17,NaN
299,Xamidimura,HR 6247,mu01,Sco,Aa,16519-3803,3.00,82514,151890,252.967630,-38.047380,2017-09-05,*
300,Xuange,HR 5351,lam,Boo,-,14164+4605,4.18,69732,125162,214.095912,46.088306,2017-06-30,NaN
301,Yed Posterior,HR 6075,eps,Oph,-,16183-0442,3.23,79882,146791,244.580374,-4.692510,2016-10-05,NaN
302,Yed Prior,HR 6056,del,Oph,-,16143-0342,2.73,79593,146051,243.586411,-3.694323,2016-10-05,NaN
303,Yildun,HR 6789,del,UMi,-,17322+8635,4.35,85822,166205,263.054126,86.586462,2016-08-21,NaN
304,Zaniah,HR 4689,eta,Vir,Aa,12199-0040,4.60,60129,107259,184.976476,-0.666793,2016-09-12,NaN
305,Zaurak,HR 1231,gam,Eri,-,03580-1331,2.97,18543,25025,59.507360,-13.508516,2016-07-20,NaN
306,Zavijava,HR 4540,bet,Vir,-,11507+0146,3.59,57757,102870,177.673826,1.764717,2016-08-21,NaN
307,Zhang,HR 3903,ups01,Hya,A,-,4.11,48356,85444,147.869558,-14.846603,2017-06-30,NaN
308,Zibal,HR 984,zet,Eri,Aa,03158-0849,4.80,15197,20320,48.958436,-8.819731,2016-09-12,NaN
309,Zosma,HR 4357,del,Leo,-,11141+2031,2.56,54872,97603,168.527089,20.523718,2016-07-20,NaN
310,Zubenelgenubi,HR 5531,alf02,Lib,Aa,14509-1603,2.75,72622,130841,222.719638,-16.041777,2016-08-21,NaN
311,Zubenelhakrabi,HR 5787,gam,Lib,A,15355-1447,3.91,76333,138905,233.881578,-14.789536,2017-09-05,NaN
312,Zubeneschamali,HR 5685,bet,Lib,-,-,2.61,74785,135742,229.251724,-9.382914,2016-08-21,NaN

In [11]:
print(df2['Const'].values[10])

# ways to make things lowercase (either works)
print(df2['Const'].values[10].lower())
print(df2['Const'].str.lower().values[10])

Sgr
sgr
sgr

In [12]:
# Does Jim's method get the right constellation for this star?

# NOTE: coordinates for RA have to be divided by 15 (units of hours, rather than degrees...)
ra = df2['RA'].values[10] / 15.
dec = df2['Dec'].values[10]

solutions.constell_davenport(ra, dec).lower()

'sgr'

In [ ]:
def findConst(ra, dec):
    const = np.where((df['DE_low'] <= dec) & (df['RA_up'] > ra) & (df['RA_low'] <= ra))[0]
    return df['name'].values[const][0]

In [28]:
def timeTest(n):
    '''
    This function will take as input the the number of coordinates to test. It will generate a list of n random
    run them through the multiple different constellation search functions, and then output the time each function 
    took to locate each constellation
    
    Parameters
    ----------
    n: the number of random coordinates to generate and test
        
    Returns
    -------
    float : runtime of each method (Davenport, Scoggins respectively)
    '''
    decMax = 90
    decMin = -90
    declinations = np.random.random(n) * (decMax - decMin) + decMin
    raMax = 24
    raMin = 0
    rAscensions = np.random.random(n) * (raMax - raMin) + raMin
    
    dav_ti = time.time()
    solutions.constell_davenport(rAscensions, declinations)
    dav_tf = time.time()
    dav_runTime = dav_tf - dav_ti
    
    sco_ti = time.time()
    for x in range(len(declinations)):
        dec = declinations[x]
        ra = rAscensions[x]
        solutions.constell_scoggins(ra, dec)
    sco_tf = time.time()
    sco_runTime = sco_tf - sco_ti
    
    return  dav_runTime, sco_runTime

In [34]:
dav, sco = timeTest(2000)
print(dav, sco)

0.13309407234191895 7.642437934875488

In [ ]:
def functionTest(ra, dec, constellation):
    for x in range(1, 312):
        ra = df2['RA'].values[x] / 15.
        dec = df2['Dec'].values[x]
        dav_const = solutions.constell_davenport(rAscensions, declinations).lower() 
        const = df2['Const'].values[10].lower()
        if (dav_const != const)
            print ("Star located at ra: " ra, " dec: ", dec, "not found")

In [ ]:
functionTest()